<!--Project Wedding Gram App -->
<!DOCTYPE html>
<html lang="en" ng-app="CommentApp">
<head>
    <meta charset="UTF-8">
    <title>Wedding Gram App </title>
		<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css">
		<!--<link rel="stylesheet" href="/bower_components/fontawesome.io/3.2.1/icon/heart/">-->
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/animatecss/3.5.2/animate.min.css">

		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css">
		<!--<link rel="stylesheet" href="/fontawesome.io/3.2.1/icon/heart/">-->
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/animatecss/3.5.2/animate.min.css">

        <!--<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/fontawesome.io/3.2.1/icon/heart/">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/animatecss/3.5.2/animate.min.css">-->


        <!-- loading ORDER of JS files is IMPORTANT -->
        <!--<script src="/libs/jquery/dist/jquery.js"></script>
        <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/libs/angular/angular.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/wow/1.1.2/wow.min.js"></script>-->
		<!-- <script src="js/wow.min.js"></script> -->
		<!--<script>new WOW().init();</script>-->

	<!--<style type="text/css">
        .container{border: 1px solid green;}
        /*.container[class*='container-']{border:2px solid blue;}*/
        .row{border: 2px dotted red;padding: 10px;}
        .row [class*='col-']{border: 2px dotted blue;padding: 10px;}
    </style> -->

	<!--<script src="/app/ctrl-create1/comment-ctrl.js"></script> 
	<script src="/app/services/comment-service.js"></script>  -->

</head>
<body class = container ng-controller = "CommentCtrl as commentCtrl" >

    <!-- Main div stars  --><div class="container"> 

		<!-- <row1 starts> --><div class="row">  
								<div >
									<div>
										<h1><em>Welcome to COUPLE2's Wedding Gram</em></h1>
									</div>
								</div>
		<!-- <row1 ends> -->  </div>
								<hr>
							  

		<!-- <row1 starts> --><div class="row">
									<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">love never fails
											<i class="icon-heart"></i>
											<img height="200" width="400" src="/assets/images/16082313-cartoon-wedding-pictures-Stock-Vector-marriage2.jpg" alt="">	
											
											<!--
											<img height="200" width="400" src="/images/{{ commentCtrl.images[0] }}" alt="">	
											-->
											<i class="icon-heart"></i>	<!-- 4r 2c thumbnails -->						
									</div>
									<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">loving you to the end of time
											<img height="200" width="400" src="/assets/images/cartoon-wedding-invitation-couple-cute-character-design-vector-illustration-581731042.jpg" alt=""> <!-- 4r 2c thumbnails -->
									</div>   
									<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">I will never find another you
											<img height="200" width="400" src="/assets/images/cartoon-wedding-bride-groom-holding-heart-348922252.jpg" alt="">	 <!-- 4r 3c thumbnails -->               			
									</div>
								</div>

		<!-- <row1 starts> --><div class="row">
									<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">always together
											<img height="200" width="400" src="/assets/images/images (1)2.jpg" alt="">		<!-- 4r 2c thumbnails -->						
									</div>
									<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">loving as family
											<img height="200" width="400" src="/assets/images/images22.jpg" alt=""> <!-- 4r 2c thumbnails -->
									</div>   
									<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">roses are red
											<img height="200" width="400" src="/assets/images/stock-photo-cartoon-wedding-couple-on-realistic-paper-sheet-1025068282.jpg" alt="">	 <!-- 4r 3c thumbnails -->               			
									</div>
								</div>

		 
		<!-- <row4 starts> --><div class="row">
								<div> 
									<div>
										<p></p>
										<h3 class="wow flip"><em>Upload Picture</em></h3>
										<form name="UploadForm" novalidate ng-submit="uploadCtrl.upload()" autocomplete="off">
											<div class="form-group">
												<!-- Select file to upload. Single file only. Accepts only images-->
												<input id="file" type="file" ng-model="uploadCtrl.imgFile" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'">
											</div>
											<div class="form-group">
												<!-- Thumbnail preview of image to upload. -->
												<img ngf-thumbnail="uploadCtrl.imgFile" width="100px" class="img-thumbnail">
											</div>
											<div class="form-group">
												<!-- Upload button. Click to upload images -->
												<button class="btn btn-default" type="submit">Upload</button>
											</div>

											<!-- Success and error flash messages. Logic based on status code returned after POST request -->
											<div class="alert" role="alert" alert-dismissable ng-show="uploadCtrl.status.code" ng-class="{'alert-success': uploadCtrl.status.code == 202, 'alert-danger': uploadCtrl.status.code == 400 }">
												<button class="close" data-dismiss="alert">
												<!-- data dismiss removes the element. This alert won't show up again before refreshing -->
												&times;
											</button> {{ uploadCtrl.status.message }}
											</div>
									</form>
									<div> <!--class="form-control">-->
											<button type="submit" class="btn btn-success form-control" >RSVP
											</button>
									</div>
										
									<!--</div>-->
									<div >
									<!-- hb coding for comments starts here -->             
										<form name = "userForm" novalidate   ng-submit="commentCtrl.placeComment()"> 
												<!--<div class = "form-group">
													<div >
														<img height="200" width="400" src="/assets/images/16333667-A-young-couple-in-love-bride-and-groom-wedding-day-in-summer-Enjoy-a-moment-of-happiness-and-love-in-Stock-Photo.jpg" alt="" class="image-size"></div>
												</div>-->
													<label for = "user">Username </label>
													<input type="text" name="user" id="user" class="form-control" size="30" placeholder="Your user name"
													ng-model = "commentCtrl.user"> <!-- binds to commentCtrl.user -->
												</div	
												<div class = "form-group">
													<label for = "comment">Comment </label>
													<input type="text" name="comment" id="comment" class="form-control" size="100" placeholder="Your comment" ng-model = "commentCtrl.comment"> 
												</div>												
													<h5>
													{{ commentCtrl.user }}
													{{ commentCtrl.date }}
													{{ commentCtrl.comment }}
													</h5>
												</div>
												<div>
													<div> <!--class="form-control">-->
															<button type="submit" class="btn btn-success form-control" >
																Confirm and show comments...
															</button>
													</div>
												<div>
														<form name="Comments" novalidate>
															<table class = "table">

																<tbody> 
																	<tr ng-repeat = "i in commentCtrl.comments">
																		<!--show LIFO ?-->
																		<td>{{ i.c_user }}</td>
																		<td>{{ i.c_text }}</td>
																		<td>{{ i.c_date }}</td>
																		
																	</tr>
																</tbody>
																
															</table>
														</form> <!-- Comments -->
													</div>								
												</div>												
											</form> <!-- userForm -->
										</div>
<!-- end of hb coding for comments ends -->

		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-messages/angular-messages.min.js"></script>
		<script src="bower_components/angular-animate/angular-animate.min.js"></script>


		<script src="app/wedcomment.js"></script>
		
		<script src="app/ctrl-create2/comment2-ctrl.js"></script> 
		
		<script src="app/upload/upload-ctrl.js"></script> 

		<script src="app/services/comment2-service.js"></script>  


		<!--<script src="app/ctrl-create1/create-controller.js"></script>
		<script src="app/services/comment-services.js"></script>
		-->
  
		


</body>
</html>