<!--Project Wedding Gram App -->
<!DOCTYPE html>
<html lang="en" ng-app="CommentApp">
<head>
    <meta charset="UTF-8">
    <title>Wedding Gram App </title>
		<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">



        <!--<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/fontawesome.io/3.2.1/icon/heart/">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/animatecss/3.5.2/animate.min.css">
-->

        <!-- loading ORDER of JS files is IMPORTANT -->
        <script src="/libs/jquery/dist/jquery.js"></script>
        <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/libs/angular/angular.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/wow/1.1.2/wow.min.js"></script>
		<!-- <script src="js/wow.min.js"></script> -->
		<script>new WOW().init();</script>

	<!--<style type="text/css">
        .container{border: 1px solid green;}
        /*.container[class*='container-']{border:2px solid blue;}*/
        .row{border: 2px dotted red;padding: 10px;}
        .row [class*='col-']{border: 2px dotted blue;padding: 10px;}
    </style> -->

	<script src="/app/ctrl-create1/comment-ctrl.js"></script> <!-- loading CommentSvc -->
	<script src="/app/services/comment-service.js"></script> <!-- loading CommentSvc -->

</head>
<body class = container ng-controller = "CommentCtrl as commentCtrl" >

    <!-- Main div stars  --><div class="container"> 

		<!-- <row1 starts> --><div class="row">  
								<div >
									<div>
										<h1><em>Welcome to Rony & Sheila's Wedding Gram</em></h1>
									</div>
								</div>
		<!-- <row1 ends> -->  </div>
								<hr>
							  

		<!-- <row1 starts> --><div class="row">
									<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">love never fails
											<i class="icon-heart"></i>
											<img height="200" width="400" src="/client/app/assets/images/RV_Wedding_Photography_Singapore034.jpg" alt="">	
											
											<!--
											<img height="200" width="400" src="/images/{{ commentCtrl.images[0] }}" alt="">	
											-->
											<i class="icon-heart"></i>	<!-- 4r 2c thumbnails -->						
									</div>
									<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">loving you to the end of time
											<img height="200" width="400" src="/client/app/assets/images/Wedding06-main.jpg" alt=""> <!-- 4r 2c thumbnails -->
									</div>   
									<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">I will never find another you
											<img height="200" width="400" src="/client/app/assets/images/Wedding4.jpg" alt="">	 <!-- 4r 3c thumbnails -->               			
									</div>
								</div>

		<!-- <row1 starts> --><div class="row">
									<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">always together
											<img height="200" width="400" src="/client/app/assets/images/CT7TjbUVAAAK9jH.jpg" alt="">		<!-- 4r 2c thumbnails -->						
									</div>
									<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">loving as family
											<img height="200" width="400" src="/client/app/assets/images/jewish-wedding-image-for-blog-e1440167907886.jpg" alt=""> <!-- 4r 2c thumbnails -->
									</div>   
									<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">roses are red
											<img height="200" width="400" src="/client/app/assets/images/wedding-1183271_960_720.jpg" alt="">	 <!-- 4r 3c thumbnails -->               			
									</div>
								</div>

		 
		<!-- <row4 starts> --><div class="row">
								<div> 
									<div>
										<p></p>
										<h3 class="wow flip"><em>Share your blessings & comments with Rony & Sheila</em></h3>
										
										<audio controls autoplay>
											Your browser does not support the <code>audio</code> element.
											<source src="/client/app/assets/images/4a23d719c18a3ea988121c1d3d1d-orig.wav"  type="audio/wav"> 
										</audio> <em>Play their favorite song!</em>
									</div>
									<div >
									<!-- hb coding for comments starts here -->             
										<form name = "userForm" novalidate   ng-submit="commentCtrl.placeComment()"> 
												<div class = "form-group">
													<div >
														<img height="200" width="400" src="/client/app/assets/images/16333667-A-young-couple-in-love-bride-and-groom-wedding-day-in-summer-Enjoy-a-moment-of-happiness-and-love-in-Stock-Photo.jpg" alt="" class="image-size"></div>
												</div>
													<label for = "user">Username </label>
													<input type="text" name="user" id="user" class="form-control" size="30" placeholder="Your user name"
													ng-model = "commentCtrl.user"> <!-- binds to commentCtrl.user -->
												</div	
												<div class = "form-group">
													<label for = "comment">Comment </label>
													<input type="text" name="comment" id="comment" class="form-control" size="100" placeholder="Your comment" ng-model = "commentCtrl.comment"> 
												</div>												
													<h5>
													{{ commentCtrl.user }}
													{{ commentCtrl.timestamp }}
													{{ commentCtrl.comment }}
													</h5>
												</div>
												<div>
													<div class="form-control">
															<button type="submit" class="btn btn-success form-control" >
																Confirm and show comments...
															</button>
													</div>
												<div>
														<form name="Comments" novalidate>
															<table class = "table">

																<tbody> 
																	<tr ng-repeat = "i in commentCtrl.comments">
																		<!--show LIFO ?-->
																		<td>{{ i.user }}</td>
																		<td>{{ i.timestamp }}</td>
																		<td>{{ i.comment }}</td>
																	</tr>
																</tbody>
																
															</table>
														</form> <!-- Comments -->
													</div>								
												</div>												
											</form> <!-- userForm -->
										</div>
<!-- end of hb coding for comments ends -->

</body>
</html>