<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active theme-color" href="#/weddinggram">Back to Home</a>
    </li>
</ul>
<div class="row w-card">
    <div class="col-xs-3 visible-md visible-lg"></div>
    <div class="col-md-6 col-xs-12">
        <div class="description" data-ng-controller="CommentDetailCtrl as ctrl">
            <div class="comment-section">
                <div data-ng-repeat="comment in ctrl.comments" class="comment" style="">
                    {{comment.username}}: {{comment.text}} | {{comment.date | date:'medium'}}
                    <!--
                            <span style="float: right; margin-left: 20px;">
                                <i class="fa fa-times theme-color fa-1x" aria-hidden="true" ng-click="ctrl.deleteComment(comment)"></i>
                            </span>
                    -->
                </div>
                <form name="commentForm" novalidate ng-submit="ctrl.create(ctrl.data.id)" class="comment">
                        <textarea ng-model="ctrl.comment.txt" maxlength="1500" required
                                  placeholder="Add a Comment"></textarea>
                    <span class="characters">{{1500 - ctrl.commentForm.text.length}} characters remaining..</span>
                    <input type="submit" class="btn btn-danger pull-right"/>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-3"></div>
</div>
