<div ng-controller="CreateCtrl as ctrl">
    <div class="page header">
        <h1>MEAN Demo 1
            <small>Create</small>
        </h1>
    </div>
    <br>
    <form name="createForm" id="createForm" novalidate ng-submit="ctrl.create()" autocomplete="off">
        <div class="form-group" ng-class="{ 'has-error': createForm.commentText.$touched && createForm.commentText.$invalid }">
            <label for="txt">Comment:</label>
            <input type="text" id="txt" name="txt" class="form-control" ng-model="ctrl.comment.txt" required>
            <div class="help-block" ng-messages="createForm.commentText.$error" ng-if="createForm.commentText.$touched">
                <p ng-message="required">Comments please...</p>
            </div>
        </div>
        <!--
        <div class="form-group" ng-class="{ 'has-error': createForm.deptName.$touched && createForm.deptName.$invalid }">
            <label for="">Department Name:</label>
            <input type="text" id="name" name="name" class="form-control" ng-model="ctrl.department.name"
            ng-minlength="2" ng-maxlength="20" required>
            <div class="help-block" ng-messages="createForm.depName.$error" ng-if="createForm.deptName.$touched">
                <p ng-message="required">Department Name Required</p>
                <p ng-message="minlength">Department Name Required</p>

            </div>
        </div>
        -->
        <div class="form-group">
            <button types="submit" class="btn-success form-control"
            ng-disabled="createForm.$invalid">
            Create
            </button>
        </div>
    </form>
    <div class="alert" role="alert" alert-dismissable ng-show=""
        ng-class="{'alert-success': ctrl.status.code ==0, 'alert-danger': ctrl.status.code != 0}">
        <button class="close" data-dismiss="alert">
            &times;
        </button>
        <p>{{ ctrl.status.code + " " + ctrl.status.message }}</p>
    </div>
</div>

